@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {background-color: $primary-color;}

%title-element {
    color: $title-color;
    font-family: $title-font;
    text-transform: uppercase;
}

.footer {
    background-color: $primary-color;
    color: $text-color;
    font-family: $text-font;
    padding: $gap*2 10%;

    & p {
        margin: 0;
        line-height: 1.5;
    }

    & .subtitle {
        @extend %title-element;
    }

    & h2 {
        @extend %title-element;
        font-weight: 500;
        font-size: 1.6rem;    
    }
    
    @media (max-width: $mobile) {
        padding: $gap*2 5%;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: $gap;
        & img {
            height: 40px;
            width: auto;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        gap: $gap*2;
        margin: 30px 0;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 35%;
        gap: $gap*2;
        @media (max-width: $mobile) {
            width: 100%;
            border-bottom: 1px solid $secondary-color;
            padding-bottom: $gap*2;
        }
    }

    &__form {
        width: 65%;
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__end {
        margin-top: $gap*4;
        padding-top: $gap*2;
        border-top: 1px solid $secondary-color;
        @media (max-width: $mobile) {
            text-align:center;
        }
    }
}
