// Colors
$text-color: #898989;
$title-color: #fefefe;
$primary-color: #292929;
$secondary-color: #454544;

// Fonts
$title-font: 'Montserrat';
$text-font: 'Crimson text';

// Dimensions
$gap: 15px;

// Breakpoints
$mobile: 790px;